[Unit]
Description=nc
After=syslog.target

[Service]
Type=simple
User=uncommon
Group=uncommon
WorkingDirectory=/home/uncommon/project/nc/nc_backend
ExecStart=/bin/bash -c 'source /home/uncommon/project/nc/nc_backend/venv/bin/activate && /home/uncommon/project/nc/nc_backend/nc.sh'
SyslogIdentifier=nc
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
