# /etc/systemd/system/api.service
[Unit]
Description=API Service
After=network.target

[Service]
User=uncommon
Group=uncommon
WorkingDirectory=/home/uncommon/project/nc/nc_backend
ExecStart=/bin/bash -c 'source /home/uncommon/project/nc/nc_backend/venv/bin/activate && python /home/uncommon/project/nc/nc_backend/api/app.py'
SyslogIdentifier=nc
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

